@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Source Sans Pro";
  src: url(https://incubateur.social.gouv.fr/bootstrap/master/@socialgouv/bootstrap.core/fonts/Source%20Sans%20Pro/SourceSansPro-Regular.otf);
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: "Evolventa";
  src: url(https://incubateur.social.gouv.fr/bootstrap/master/@socialgouv/bootstrap.core/fonts/Evolventa/Evolventa-Bold.ttf);
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  font-size: 1.5em;
  font-family: "Source Sans Pro";
}

@media screen and (max-width: 1600px) {
  body {
    font-size: 1.3em;
  }
}

@media screen and (max-width: 1500px) {
  body {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 1400px) {
  body {
    font-size: 1.1em;
  }
}

@media screen and (max-width: 1300px) {
  body {
    font-size: 1em;
  }
}

#__next {
  flex: 1;
  display: flex;
}

h1, h2, h3, h4 {
  font-weight: bold;
  font-family: "Evolventa";
}

h1 {
  font-size: 3em;
  margin: 0.5em 0 0;
}

h2 {
  font-size: 1.9em;
  margin: 0.3em 0 1em;
}

button, a {
  outline: 0;
  cursor: pointer;
}

.intro {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  margin: 10px;
  display: flex;
  /* background: green; */
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.intro h1 {
  padding: 0;
  font-size: 10em;
  position: relative;
  margin-bottom: 2vh;
}

.intro h1:after {
  content: attr(data-h1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  color: transparent;
  /* webkit only for graceful degradation to IE */
  background: -webkit-repeating-linear-gradient(
    -45deg,
    #71b7e6,
    #69a6ce,
    #b98acc,
    #ee8176,
    #b98acc,
    #69a6ce,
    #9b59b6
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 400%;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  animation: animateTextBackground 10s ease-in-out infinite;
}

@keyframes animateTextBackground {
  0% {
    background-position: 0 0;
  }
  25% {
    background-position: 100% 0;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 0 100%;
  }
  100% {
    background-position: 0 0;
  }
}

.intro h2 {
  color: #999;
}

.intro.hidden {
  display: none;
}

.intro button {
  color: white;
  font-size: 2em;
  padding: 10px 20px;
  border-radius: 4px;
  background-color: RoyalBlue;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: rgb(201, 211, 223) 0px 1px 4px;
}

.control {
  top: 50%;
  z-index: 2;
  width: 70px;
  color: #999;
  border: none;
  height: 70px;
  display: flex;
  font-size: 3em;
  border-radius: 50%;
  position: absolute;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(201, 211, 223) 0px 1px 4px;
}

.control:hover {
  color: black;
}

.control.previous {
  left: 20px;
}

.control.next {
  right: 20px;
}

.slide {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.slide.selected {
  z-index: 1;
}

.slide .header {
  display: flex;
  box-shadow: rgb(201, 211, 223) 0px 1px 4px;
}

.slide .header .title {
  flex: 1;
  padding: 0 50px;
}

.slide .header .title h2 {
  font-weight: normal;
  font-family: "Source Sans Pro";
}

.slide .header .counter {
  color: #999;
  display: flex;
  font-size: 4em;
  padding: 0 50px;
  align-items: center;
  justify-content: center;
}

.slide .header .counter.warning {
  color: #b00;
}

.content {
  flex: 1;
  display: flex;
  margin: 0 100px;
}

.content .left {
  flex: 1;
  margin: 20px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}

.content .left .image {
  flex: 1;
  /* background-size: contain; */
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: rgb(201, 211, 223) 0px 1px 4px;
}

.content .left .kpis {
  display: flex;
  margin-bottom: 20px;
  align-items: stretch;
  justify-content: center;
}

.content .left .kpis .kpi {
  flex: 1;
  padding: 0 10px;
  text-align: center;
}

.content .left .kpis .kpi .value {
  margin: 0;
  font-size: 2.5em;
  color: RoyalBlue;
}

.content .left .kpis .kpi .name {
  font-size: 1.5em;
}

.content .right {
  flex: 1;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* overflow-y: auto; */
}

.content .right h3 {
  font-size: 2em;
  padding: 0 10px;
  margin: 0;
}

.content .right p {
  padding: 20px;
  font-size: 1.5em;
  margin-bottom: 20px;
  background-color: #efefef;
}
