@font-face {
  font-style: normal;
  font-weight: normal;
  font-family: "Source Sans Pro";
  src: url(https://socialgouv.github.io/bootstrap/master/@socialgouv/bootstrap.core/fonts/Source%20Sans%20Pro/SourceSansPro-Regular.otf);
}

@font-face {
  font-weight: bold;
  font-style: normal;
  font-family: "Evolventa";
  src: url(https://socialgouv.github.io/bootstrap/master/@socialgouv/bootstrap.core/fonts/Evolventa/Evolventa-Bold.ttf);
}
