$base-size: 1rem;
$base-color: #fff;
$font-color: #424242;
$font-color-link: #003189;
$font-size: $base-size * 0.9;
$font-color-important: #e2011c;
$border-color: #dfe2e5;
$background-color: #f6f8fa;
